<?xml version="1.0"?>
<menu>
  <piatto>
    <nome>Cotoletta di pollo</nome>
    <tipologia>secondo</tipologia>
    <descrizione>Cotoletta di petto pollo con panatura panko</descrizione>
    <prezzo>6</prezzo>
    <vegetariano>no</vegetariano>
    <vegano>no</vegano>
  </piatto>
  <piatto>
    <nome>Insalata di tofu</nome>
    <tipologia>secondo</tipologia>
    <descrizione>Insalata di verdure, tofu grigliato, noci e avocado</descrizione>
    <prezzo>6</prezzo>
    <vegetariano>si</vegetariano>
    <vegano>si</vegano>
  </piatto>
  <piatto>
    <nome>Insalatona Mediterranea</nome>
    <tipologia>secondo</tipologia>
    <descrizione>Insalata di verdure e uova</descrizione>
    <prezzo>6</prezzo>
    <vegetariano>si</vegetariano>
    <vegano>no</vegano>
  </piatto>
<piatto><nome>piatto1</nome><tipologia>a</tipologia><descrizione>a</descrizione><prezzo>1</prezzo><vegetariano>no</vegetariano><vegano>si</vegano></piatto><piatto><nome>piatto1</nome><tipologia>a</tipologia><descrizione>a</descrizione><prezzo>1</prezzo><vegetariano>no</vegetariano><vegano>si</vegano></piatto><piatto><nome>pasta</nome><tipologia>rossa</tipologia><descrizione>capperi</descrizione><prezzo>12</prezzo><vegetariano>si</vegetariano><vegano>si</vegano></piatto>&gt;<piatto><nome>Pasta al Pomodoro</nome><tipologia>Primo</tipologia><descrizione>Deliziosa pasta con salsa di pomodoro</descrizione><prezzo>10</prezzo><vegetariano>no</vegetariano><vegano>si</vegano></piatto><piatto><nome>a</nome><tipologia>a</tipologia><descrizione>a</descrizione><prezzo>1</prezzo><vegetariano>si</vegetariano><vegano>si</vegano></piatto><piatto><nome>a</nome><tipologia>a</tipologia><descrizione>a</descrizione><prezzo>1</prezzo><vegetariano>si</vegetariano><vegano>si</vegano></piatto></menu>
